{% extends 'base.html.twig' %}

{% block title %}erreur 500{% endblock %}

{% block body %}

    <div class="containerGlobalBody">
        <div class="erreur">
            <img src="{{ asset('img/error_400.png') }}" alt="error_400">
            {# <a href="{{ path('home') }}" class="btn_valider">retourner à l'accueil</a> #}
            <a class="btn_valider"; href="{{ path('home') }}">retourner à l'accueil</a>
        </div>
    </div>

{% endblock %}