{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}

    <div class="container-fluid text-center pt-5 pb-5" style="background-color: #01C5C4;">
        <h1>À propos de nous</h1>
    </div>

    <div class="d-flex justify-content-around mt-4">
        <div class="mr-3">
            <img src="../public/img/icon/amandine.jpg" style="width: 110px;"></img>
            <p class="text-center font-weight-bold">Amandine</p>
        </div>
        <div>
            <img src="../public/img/icon/timoté.png" style="width: 110px;"></img>
            <p class="text-center font-weight-bold">Timoté</p>
        </div>
        <div style="margin-left: 20px;">
            <img src="../public/img/icon/colin.png" style="width: 110px;"></img>
            <p class="text-center font-weight-bold">Colin</p>
        </div>
    </div>

{% endblock %}
