{% extends 'base.html.twig' %}

{% block title %}ajout annonce véhicule - formulaire{% endblock %}

{% block body %}

    <h1>Formulaire - Ajout Annonce Véhicule</h1>

    <div>
        {{ form_start(vehiculeForm) }}
        {{ form_end(vehiculeForm) }}
    </div>

    <div class="text-center pb-5">
        <a href="{{ path('home') }}" class="btn btn-danger">Annuler</a>
    </div>

{% endblock %}