{% extends 'base.html.twig' %}

{% block title %}Déposer une annonce de véhicule{% endblock %}

{% block body %}

<div class="container-fluid text-center pt-5 pb-5" style="background-color: #01C5C4;">
    <h1>Annonce de véhicule</h1>
</div>

    <div>
        {{ form_start(vehiculeForm) }}
        {{ form_end(vehiculeForm) }}
    </div>

    <div class="text-center pb-5">
        <a href="{{ path('home') }}" class="btn btn-danger" style="background-color: #F39233">Annuler</a>
    </div>

{% endblock %}