{% extends 'base.html.twig' %}

{% block title %}CGU/CGV{% endblock %}

{% block body %}

    <header class="container-fluid text-center bg-info pt-5 pb-5">
        <h1>CGU - CGV</h1>
    </header>
    <p></p>

{% endblock %}
