{% extends 'base.html.twig' %}

{% block title %}Hello CguController!{% endblock %}

{% block body %}
<div class="cgu-content" id="cgu-content">
<h1>Conditions Générales d’Utilisation et de Réservation</h1>
<br>
<p>En utilisant ou en accédant à horiza.fr (ci-après dénommé « Horiza »), l’Utilisateur accepte de respecter les Conditions Générales suivantes. S’il n’accepte pas, sans réserve, les présentes Conditions Générales, il n’est pas autorisé à accéder à Horiza ni à utiliser ses services.</p>
<p>Horiza est la propriété exclusive de la société Hors Limites 64 au capital de 5 120 €, sise au 18 Rue Geoffroy l'Asnier, 75004 Paris et enregistrée au RCS de Paris sous le numéro 755 780 452.</p>
<p>Le site www.horiza.fr est hébergé par  02 Switch ,	224 BD GUSTAVE FLAUBERT 63000 CLERMONT-FERRAND </p>
<h3 class="">1. Définitions</h3>
<div class="article" style="display: none;">
<p><strong>Utilisateur :</strong>&nbsp;désigne toute personne physique ou morale qui accède au site, qu’elle soit Membre ou non.</p>
<p><strong>Membre :</strong>&nbsp;désigne un Utilisateur identifié sur le site afin d’en utiliser les services.</p>
<p><strong>Espace membre :</strong>&nbsp;désigne l’espace privé sur le site réservé à chaque membre. Il est accessible par Mot de passe et reprend notamment les données personnelles du Membre.</p>
<p><strong>Mot de passe :</strong>&nbsp;information confidentielle qui permet au Membre d’être identifié et d’accéder à son Espace membre.</p>
<p><strong>Propriétaire :</strong>&nbsp;désigne tout Membre qui met en location un véhicule déterminé selon les modalités requises par Horiza.</p>
<p><strong>Locataire :</strong>&nbsp;désigne tout Membre réservant un véhicule sur le site.</p>
<p><strong>Contrat de location :</strong>&nbsp;désigne le contrat signé entre le Propriétaire et le Locataire. Le modèle est fourni par Horiza.</p>
</div>
<br>
<h3>2. Objet</h3>
<br>
<div class="article">
<p>Horiza est une plateforme qui permet aux propriétaires qui publient des annonces sur Horiza de proposer, dans différentes gammes de prix, la location de leurs véhicules de loisirs, à des locataires potentiels.</p>
<p>Horiza fournit des outils permettant aux Propriétaires de conclure directement avec les Locataires des contrats de location de leur véhicule de loisirs. Néanmoins, Horiza n’est partie à aucun accord conclu entre les Propriétaires et les Locataires. En conséquence, les contrats passés entre les Propriétaires et les Locataires relèvent de leur seule responsabilité notamment en ce qui concerne la qualité, la sécurité ou la légalité des véhicules proposés, l’authenticité ou l’exactitude des annonces.</p>
</div>
<br>
<h3>3. Les véhicules proposés à la location</h3>
<br>
<div class="article">
<p>Les véhicules proposés à la location sur la plateforme Horiza appartiennent à des personnes physiques ou à des personnes morales. Il s’agit de « véhicules de loisirs », permettant à une ou plusieurs personnes de se déplacer, de pouvoir dormir à l’intérieur du véhicule, et de pouvoir cuisiner.</p>
</div>
<br>
<h3>4. Engagements de Wikicampers</h3>
<br>
<div class="article">
<p>Horiza s’engage à tout mettre en œuvre pour maintenir le site dans un état opérationnel. Toutefois, Horiza se réserve le droit d’interrompre temporairement l’accessibilité à ses services pour des raisons de maintenance et/ou d’amélioration.</p>
<p>Horiza s’engage à informer le Propriétaire par email, SMS ou notification push, des demandes de réservation.</p>
<p>Horiza s’engage à faciliter les démarches de ses utilisateurs en prodiguant des conseils dans la mise en ligne d’annonces, en fournissant un modèle de contrat de location, etc.</p>
{# <p>Horiza met tout en œuvre pour garantir à ses utilisateurs un maximum de sécurité :</p>
<ul>
<li>En rémunérant les propriétaires uniquement lorsque la location a débuté ;</li>
<li>En gérant les encaissements de la réservation ;</li>
<li>En gérant le dépôt de garantie (pour les véhicules assurés par l'assureur de Horiza). Horiza se porte garant de ce dépôt de garantie dans la limite exclusive du montant de la caution ;</li>
<li>En garantissant le paiement sécurisé (via CM-CIC Paiement) ;</li>
<li>En mettant à disposition de ses utilisateurs un système d'avis clients et d'évaluations.</li>
</ul> #}
<p>Horiza est à l’écoute de ses utilisateurs (suggestions, conseils, aide à l’utilisation de la plateforme, commentaires) par email : contact.horiza@gmail.com / par téléphone : ** ** ** ** ** (ligne fixe, numéro non surtaxé).</p>
</div>
<br>
<h3>5. Conditions d’inscription</h3>
<br>
<div class="article">
<p>Les conditions suivantes doivent impérativement être remplies pour utiliser les services de Horiza :</p>
<ul>
<li>L’inscription sur Horiza doit être faite sous sa véritable identité ;</li>
<li>Un compte par personne est autorisé.</li>
</ul>
<p>L’inscription est gratuite.</p>
<p>Pour s’inscrire et effectuer une demande de réservation, l’utilisateur doit remplir un formulaire électronique : nom, prénom, adresse email, mot de passe, confirmation du mot de passe et accepter les présentes Conditions Générales d'Utilisation et de Réservation.</p>
</div>
<br>
<h3>6. Publication d’une annonce</h3>
<br>
<div class="article">
<p>Pour publier une annonce, le Propriétaire doit :</p>
<ul>
<li>Vérifier que le véhicule remplit les conditions requises pour publier son annonce (cf. Article 3) ;</li>
<li>Remplir un formulaire électronique dans lequel il fournit des informations sur son identité (adresse, numéro de téléphone), sur son véhicule ( photos, prix,disponibilités, plaque d’immatriculation,etc.) ;</li>
<li>Accepter les Conditions Générales d'Utilisation et de Réservation et les Conditions d’Assurance.</li>
</ul>
<p>Le Propriétaire s’engage à ne pas spécifier son adresse, son email ou son numéro de téléphone dans le descriptif de son annonce.</p>
<p>Horiza se réserve le droit d'accepter ou de refuser les annonces proposées par les Propriétaires.</p>
</div>
<br>
<h3>7. Fonctionnement du site</h3>
<br>
<div class="article">
<p>Le Propriétaire fournit des informations sur son véhicule. Il fixe un tarif de location. Le Propriétaire a la responsabilité des tarifs appliqués et détermine les disponibilités de son véhicule.</p>
<p>Les annonces sont visibles par tous les Utilisateurs du site. Les Utilisateurs doivent créer un compte pour pouvoir contacter les Propriétaires et effectuer une demande de réservation.</p>
<p>Pour effectuer une demande réservation, le Membre choisit le véhicule qu’il souhaite réserver. Il laisse au Propriétaire un message pour décrire l’usage qu’il souhaite faire du véhicule (exemple : objet du voyage, destinations, etc.). Il peut laisser ses coordonnées téléphoniques afin que le Propriétaire le contacte.</p>
<br>
<h4>7.1 Réservation classique :</h4>
<br>
<p>Le Locataire laisse au Propriétaire un message pour décrire l’usage qu’il souhaite faire du véhicule (exemple : objet du voyage, destinations, etc.). Il peut laisser ses coordonnées téléphoniques afin que le Propriétaire le contacte.</p>
<p>La demande de réservation doit être faite 48 heures, au moins, avant le jour du début de la location.</p>
<p>Le Propriétaire est informé de la demande de réservation par email et par SMS (s'il a fourni son numéro de téléphone mobile).</p>
<p><strong>a. Si le Propriétaire confirme la disponibilité de son véhicule</strong>, le Membre ayant réalisé la demande de réservation reçoit une notification par email et par SMS (s'il a fourni son numéro de téléphone mobile) l’informant que sa demande a été acceptée. Afin de finaliser sa réservation, il se connecte sur la plateforme Horiza, prend connaissance des conditions obligatoires d’assurance et des prestations accessoires (cf. Article 17), accepte les Conditions Générales d'Utilisation et de Réservation et paye sa réservation .</p>
<p>La réservation est confirmée lorsque le paiement est validé. Le Locataire et le Propriétaire reçoivent par email une confirmation de ladite réservation.</p>
<p>En cas de désaccord, ils ont 2 jours pour contacter Horiza.</p>
<p>Sans notification particulière, Horiza reverse au Propriétaire, 3 jours (ouvrés) après le départ, le montant de sa rémunération par virement bancaire. Si la durée de location dépasse 1 mois, le Propriétaire percevra le gain de sa location en plusieurs fois.</p>
<p><strong>b. Si le Propriétaire refuse la demande de location</strong>, le Membre ayant réalisé la demande de réservation reçoit une notification par email l’informant que sa demande a été refusée. Il peut effectuer d’autres demandes de réservation. Dans un souci de qualité, Horiza se réserve le droit de désactiver le compte d'un Membre ayant refusé un nombre important de demandes de location.</p>
<br>
{# <h3>8. Modalités de paiement</h3>
<div class="article">
<p>Le règlement se fait par carte bancaire, virement, compte Paypal, chèque bancaire (français uniquement) ou chèques vacances.</p>
<p>Dans le cas d’une réservation instantanée, le règlement effectué lors de la réservation se fait par carte bancaire uniquement. Si un solde reste à régler à 30 jours du départ, le paiement peut être effectué par tous les moyens de paiement disponibles sur le site Horiza.</p>
<p>Les paiements en espèces ou par mandat cash ne sont pas acceptés.</p>
<p>Le Locataire peut contacter le site Horiza pour effectuer ou confirmer son mode de règlement. Il reçoit une notification de paiement par email.</p>
<p>Horiza ne peut être tenu responsable des paiements effectués en dehors de la plateforme.</p>
<p><strong>a. Pour une réservation moins de 30 jours avant le début de la location :</strong></p>
<p>Le Locataire règle le montant total de la réservation. Le règlement doit obligatoirement être validé 48 heures avant le début de la location.</p>
<p>Cas des paiements par chèques bancaires et chèques vacances : ce choix du mode de paiement doit prendre en compte les délais postaux pour la bonne réception du règlement par Horiza.</p>
<p><strong>b. Pour une réservation plus de 30 jours avant le début de la location :</strong></p>
<p>Le Locataire règle sa réservation en 2 fois, sans frais. Il règle un acompte de 30 % pour confirmer sa réservation. Puis il se connecte à son Espace Membre au plus tard 30 jours avant le début de la location afin de régler le solde.</p>
<p>Cas des paiements par chèques bancaires : le Locataire a la possibilité d'envoyer 2 chèques pour le règlement. Un chèque d'acompte de 30 % qui sera encaissé à la réservation. Un chèque de 70 % qui sera encaissé 30 jours avant le début de la location.</p>
<p>Cas des paiements par chèques vacances : les chèques vacances doivent être envoyés par courrier recommandé. Le paiement peut être complété par chèque.</p>
</div> #}

{# <h3>9. Dépôt de garantie</h3>
<div class="article">
<p>Lorsque le véhicule est assuré par le Loueur professionnel, le Locataire effectue le dépôt de garantie directement auprès du loueur. Le montant et le mode de dépôt de garantie sont précisés sur l'annonce.</p>
<p>Lorsque le véhicule est assuré par l'assurance de Wikicampers, le dépôt de garantie (ou caution) est effectué auprès de Wikicampers. Wikicampers se porte garant de ce dépôt de garantie auprès du Propriétaire, dans la limite exclusive du montant de ce dépôt de garantie.</p>
<p>Le montant du dépôt de garantie est déterminé en fonction de la formule d’assurance choisie.</p>
<p>Le dépôt de garantie peut être effectué : par empreinte de carte bancaire ou par chèque (français uniquement). Il n'est pas encaissé.</p>
<p>Le Locataire doit effectuer le dépôt de garantie avant le départ. Si Wikicampers ne reçoit pas le dépôt de garantie avant le départ, le dossier sera considéré comme incomplet et la réservation sera annulée.</p>
<p>A l'issue de la location, si aucun sinistre ou dommage n'est déclaré, l'empreinte de carte bancaire est annulée / le chèque de caution est détruit sous 10 jours après le retour. Le Locataire en est avisé par email.</p>
<p>Le dépôt de garantie vise à couvrir, en cas d’accident et/ou de dommages :</p>
<ul>
<li>Le montant de la ou des franchise(s) d'assurance (si le montant des réparations est supérieur au montant de la franchise) ;</li>
<li>Les frais de réparation (si le montant des réparations est inférieur au montant de la franchise) ;</li>
<li>Les dégradations à l’intérieur du véhicule et la casse des équipements non couverts par les garanties d’assurance ;</li>
<li>Les frais de dossier de 50 € TTC par sinistre.</li>
</ul>
<p>Wikicampers se réserve le droit d’encaisser le dépôt de garantie, dès l’ouverture d’un dossier auprès du Service Assurance et de dédommager les parties en application des présentes conditions et du contrat de location. Le dépôt de garantie est libéré à la clôture du dossier uniquement.</p>
</div> #}
<br>
<h3>8. Documents à fournir</h3>
<br>
<div class="article">
<p>Avant le début de la première location, le Propriétaire doit impérativement transmettre la copie de la carte grise de son véhicule et saisir ses informations de relevé bancaire, pour recevoir sa rémunération par virement bancaire.</p>
<p>Le Locataire doit transmettre les documents suivants dès que sa réservation est confirmée :</p>
<ul>
<li>Scan du permis de conduire de chaque conducteur (limité à 2 conducteurs) ;</li>
<li>Scan de la pièce d'identité de chaque conducteur (limité à 2 conducteurs) ;</li>
<li>Dépôt de garantie</li>
</ul>
<p>Le Propriétaire et le Locataire ont plusieurs possibilités pour fournir ces documents :</p>
<ul>
<li>Via l'Espace Membre, rubrique "Mon profil" (chargement en ligne des documents) ;</li>
<li>Par email : contact.horiza@gmail.com ;</li>
</ul>
</div>
<br>
<h3>9. Modalités de réservation</h3>
<br>
<div class="article">
<p>Toutes les réservations effectuées par l’intermédiaire de Horiza sont soumises, sans réserve, aux présentes Conditions Générales de Réservation et d’Utilisation.</p>
<p>Une réservation est définitivement confirmée après réception du règlement. Dans le cas d’une réservation instantanée, elle est définitivement confirmée 24 heures après le règlement. Le Locataire peut par la suite, avec l'accord du Propriétaire, modifier les dates de la location pour une durée similaire ou plus longue uniquement.</p>
<p>Le Locataire convient qu’il ne dispose pas d’un droit de rétractation dans la mesure où les services portent sur des activités d’hébergement et de loisirs (article L121-20-4, 2° du Code de la consommation).</p>
</div>
<br>
<h3>10. Annulation d’une réservation confirmée et remboursements</h3>
<br>
<div class="article">
<p>En cas de souscription à l'assurance Annulation, se référer à l'Article 17.</p>
<p>Les conditions d’annulation visent à protéger les Locataires comme les Propriétaires en cas d’annulation par l’un d’entre eux. Ces conditions sont acceptées par le Propriétaire lorsqu'il publie son annonce de location, et par le Locataire lorsqu'il confirme sa réservation. Chacun s'engage à les respecter.</p>
<p>Selon l’article L. 121-20-4 du code de la consommation, le droit de rétractation ne s’applique pas à la vente à distance de prestation de services d’hébergement, de transport et de loisirs qui sont fournis à une date déterminée.</p>
<h4>10.1 Réservation classique :</h4>
<p><b>a. Si le Locataire annule sa réservation :</b></p>
<ul>
<li>30 jours ou plus avant le départ : l’acompte réglé n’est pas remboursé.</li>
<li>Entre 29 et 8 jours avant le départ : remboursement de 50 % du montant de la réservation.</li>
<li>Entre 7 jours et le jour du départ : pas de remboursement, la totalité du prix de la réservation est due.</li>
<li>Après le début de la location : si le Locataire ramène le véhicule avant la fin de la location ou s’il n’a pas effectué la totalité de son forfait kilométrique, aucun remboursement de la part de Horiza n’est possible.</li>
<li>En cas de non-présentation du locataire en date et lieu de rdv prévu au contrat, la location sera considérée comme annulée « après le début de la location » et aucun remboursement de la part de Horiza n’est possible.</li>
</ul>
<p>Les options voyage, frais de paiement et frais de service réglés sont non remboursables.</p>
<p>Si le Locataire annule sa réservation après avoir fait une modification de date pour une date ultérieure, aucun remboursement de la part de Horiza n'est possible, quel que soit le nombre de jours avant la date de départ.</p>
<p>En cas d’annulation de la réservation par le Locataire, le Propriétaire perçoit :</p>
<ul>
<li>Annulation 30 jours ou plus avant le départ : 30 % de sa rémunération.</li>
<li>Entre 29 et 8 jours avant le départ : 50 % de sa rémunération.</li>
<li>Entre 7 jours et le jour du départ : 100 % de sa rémunération.</li>
 </ul>
<p>Suite à annulation, le Propriétaire sera réglé de tout ou partie de son gain, par virement bancaire, dans les 8 jours suivant l'annulation.</p>
<p><b>b. Si le Propriétaire n’est pas en mesure de mettre à disposition son véhicule pour la location et annule la réservation :</b></p>
<p>Le Propriétaire doit informer le Locataire dans les plus brefs délais et transmettre à Horiza un justificatif d'annulation (certificat de cession, justificatif de panne ...) dans un délai de 6 mois.</p>
<p>Le Propriétaire doit régler les <b>frais d’annulation de 150 € TTC</b> à Horiza dans un délai de 15 jours. Horiza se réserve le droit de prélever les frais d'annulation directement sur le gain d'une prochaine location et de dépublier l'annonce du Propriétaire.</p>
<p>Ces frais d’annulation permettent à Horiza de prendre en charge l’accompagnement et le suivi du locataire pour lui proposer d’autres véhicules. Les frais d'annulation permettent également de dédommager partiellement Horiza au titre des préjudices subis dans la relation de confiance que Horiza entretient avec le Locataire et la communauté.</p>
<p>Le Locataire reçoit un bon cadeau du montant réglé déduction faite des options voyage et des frais de paiement. Le bon cadeau est valable un an à compter de la date d’émission, utilisable en plusieurs fois.</p>
<p>Le Locataire utilise le bon cadeau au moment du règlement de sa nouvelle réservation. Lors de la nouvelle réservation, si le montant de la réservation est supérieur, le Locataire doit régler la différence. Si le montant de la réservation est inférieur, le Locataire est remboursé de la différence.</p>
<p>Si l’annulation a lieu entre 7 jours et le jour du départ, le Locataire reçoit un code de réduction d’une remise de -10%, non cumulable avec d'autres offres promotionnelles. Le Locataire saisit le code de réduction lors du paiement de la nouvelle réservation. La réduction s’applique sur le montant de la réservation, hors options voyage et assurance. Il est valable uniquement pour une location d’un montant supérieur à la première location et pour un départ au maximum 5 jours après la date de départ initiale.</p>
<p>Si aucun véhicule de substitution n’est disponible, le locataire est remboursé du montant ouvert au remboursement déduction faite des options voyage souscrites (cf. Article1). Aucune autre indemnisation n’est possible par Horiza. Le Locataire doit faire la demande de remboursement par email.</p>
<p>L'annulation doit être effectuée à partir de l’Espace Membre pour être prise en compte. Le Locataire doit renseigner ses informations bancaires dans l'onglet "Mon profil" pour permettre le remboursement. Il est effectué dans les 8 jours suivant l'annulation, par virement bancaire.</p>
<h4>10.2 Réservation instantanée :</h4>
<p>Dans le cas d’une réservation instantanée, le Locataire et le Propriétaire ont la possibilité d’annuler sans frais, dans les 24 heures suivant le règlement. Au-delà de ce délai, les modalités d’annulation sont identiques à celles d’une réservation classique.</p>
<h4>10.3 Annulation suite à panne du véhicule durant le séjour&nbsp;:</h4>
<p>Dans le cas où la location est interrompue suite à une panne mécanique durant le séjour, le calcul du dédommagement à réaliser est traité par le Service Assurance. Afin de traiter au mieux le dossier, le Locataire et Propriétaire doivent transmettre l’ensemble des justificatifs par email et ce dans les meilleurs délais. Les options d’assurance consommées, les options voyage (achats offres partenaires, boutique…), les frais de paiement, la commission et les frais de service réglés sont non remboursables.</p>
<h4>10.4 Annulation en cas de restriction de déplacement&nbsp;:</h4>
<p>Dans les seuls cas où la location serait impossible compte tenu d’un confinement instauré par les autorités administratives ou d’une fermeture de frontière empêchant le Locataire de récupérer le véhicule et/ou d’entrer dans le pays de destination prévu, le Locataire ainsi que le Propriétaire pourront exceptionnellement annuler la location sans condition de préavis.<br>
Dans ce cas, le Propriétaire reconnaît expressément qu’il ne pourra pas prétendre au règlement même partiel de la location prévue et annulée.<br>
Le Locataire quant à lui bénéficiera d’un bon cadeau du montant total réglé à Horiza (hors frais de paiement et options de voyage définies à l’Article 1). Le bon cadeau pourra être utilisé pour toute réservation effectuée dans les 18 mois suivant la date d’annulation de la location.</p>
</div>
<br>
<h3>11. Obligation des Propriétaires</h3>
<br>
<div class="article">
<p>Le Propriétaire s’engage à décrire son véhicule proposé à la location selon les critères retenus par Horiza. Le Propriétaire est le seul responsable de la description fournie sur le site.</p>
<p>Le Propriétaire s’engage à proposer à la location un véhicule en règle (contrôle technique en cours de validité), conforme aux normes de sécurité, dont l’entretien préconisé par le constructeur a été effectué et dont les équipements de sécurité sont en parfait état. Le Propriétaire prend soin de vérifier en particulier l’état des pneumatiques, des freins, le bon fonctionnement des phares, de la direction, de la batterie, et la présence du gilet et triangle de signalisation à bord de son véhicule.</p>
<p>Le Propriétaire ayant aménagé de façon artisanale son véhicule, doit s’assurer auprès des autorités compétentes que son véhicule respecte toutes les normes de sécurité. Pour la sécurité de tous, il est préférable de faire réceptionner son véhicule par la DREAL (Direction Régionale de l’Environnement, de l’Aménagement et du Logement) de sa région.</p>
<p>Le Propriétaire s'engage à souscrire à un contrat d'assurance annuel personnel. Le Propriétaire doit laisser à demeure sa carte verte dans le véhicule.</p>
 </div>
 <br>
<h3>12. Obligations des Locataires</h3>
<br>
<div class="article">

<p>Le Locataire s’engage à tenir le véhicule loué, ses équipements et accessoires en bon état de fonctionnement. Le Locataire s’engage à conduire en bon père de famille et à respecter le code de la route. Il s’engage également à ce que le véhicule ne soit pas utilisé :</p>
<ul>
<li>Pour le transport payant des passagers ;</li>
<li>Pour propulser ou tirer un autre véhicule quelque autre véhicule, une remorque ou tout autre objet roulant ou non ;</li>
<li>Dans le cadre de compétitions ;</li>
<li>À des fins illicites ;</li>
<li>Pour l’apprentissage de la conduite.</li>
</ul>
</div>
<br>
<h3>13. Contrat de location</h3>
<br>
<div class="article">

<p>Le contrat de location est directement conclu entre le Propriétaire et le Locataire, lors de l’état des lieux et la prise en main du véhicule. Dans le cadre de la location de courte durée, le contrat de location ne peut excéder 3 mois de location consécutif.</p>
<p>Le contrat de location doit être signé par le Propriétaire et le Locataire, au début et à la fin de la location, en double exemplaire. Le Locataire et le Propriétaire conservent chacun leur exemplaire.</p>
<p>En cas de sinistre, le contrat de location et la déclaration de dommages doivent être envoyés au Service Assurance  sous 2 jours ouvrés à l’issue de la location.</p>
</div>
<br>
<h3>14. Assurance location</h3>
<br>
<div class="article">

<p>Dans le cadre de l'instruction du dossier, le Propriétaire doit transmettre l'intégralité des documents nécessaires à la bonne instruction du dossier suite à son ouverture (devis et facture acquittée). Le cas échéant WHoriza se réserve le droit de clôturer le dossier sans suite à la date anniversaire du sinistre (1 an après la date du sinistre).</p>
<h4>a. Les garanties et franchises d'assurance</h4>.
<p>La franchise d'assurance est la part qui reste à la charge du locataire en cas d'incident uniquement lorsque le conducteur est responsable ou lorsqu'il n'y a pas de tiers identifié. La franchise s'applique totalement ou partiellement, selon la part de responsabilité du conducteur. Une franchise s’applique pour chaque évènement. Plusieurs franchises sont applicables en cas de sinistres non concomitants. L'appréciation de la concomitance est déterminée par l'expert et/ou l'assureur.</p>
<p>En cas d’accident avec un <b>tiers identifié</b> assuré auprès d'une compagnie hors de France, Horiza se réserve le droit de prélever le dépôt de garantie du Locataire. Si l’Assureur détermine que la responsabilité du Locataire n’est pas entièrement engagée et que le recours auprès du tiers aboutit, la somme perçue correspondant au montant de la franchise sera alors remboursée (selon le degré de responsabilité) au Locataire une fois le recours abouti.</p>
<p>En cas de sinistre responsable à 100 % avec un tiers identifié, l'assureur de Horiza prend en charge le montant des réparations auprès de l'assureur tiers. La participation du Locataire se limite aux frais de dossier.</p>
<p>En cas d’accident avec un <b>tiers non identifié</b>, les dommages sur le véhicule sont pris en charge par l’Assureur avec application de la franchise (à la charge du Locataire).</p>
<p>La <b>garantie vol</b> s'étend aux objets et effets transportés : tous objets personnels, vêtements, bagages, animaux, matériels et marchandises, à l'exclusion des titres, espèces, moyens de paiement et valeurs tels que chèques de voyage, de restaurant, de vacances, timbres poste et fiscaux, feuilles timbrées, billets de loterie et de jeux, titres de transport, vignettes, cartes de téléphone, bijoux, objets en métaux précieux, perles et pierres précieuses, objets d'art et de collection, tableaux, tapis, fourrures, supports d'informations informatiques ou non, tabac, appareils audio/vidéo portables, téléphone mobile, micro-informatique et appareils de contrôle électroniques portables.</p>
<p>L'indemnité est fixée à dire d'expert, sur la base de la valeur à neuf, vétusté déduite. Il incombe à l'Assuré de fournir les factures nominatives des éléments déclarés volés dans le dépôt de plainte.</p>
<p>Il est précisé que la garantie vol est étendue à la non restitution du véhicule par l'utilisateur, qu'il s'agit d'un abus de confiance ou d'une escroquerie.</p>
<p>Tout dommage non couvert par les garanties d'assurance sera pris en charge par le dépôt de garantie du locataire.</p>
<h4>b. Exclusions :</h4>
<p>Le Locataire n'est pas assuré dans les cas suivants :</p>
<ul>
<li>Lorsqu'il utilise le véhicule en dehors du cadre de l'usage privé ;</li>
<li>Lorsqu'il transporte des passagers à titre onéreux ;</li>
<li>Lorsqu’il est dans l’incapacité de restituer au Propriétaire les clefs originales du véhicule après avoir constaté le vol de celui-ci ;</li>
<li>Quand le conducteur est en état d’ivresse tel que défini par le code de la route, ou lorsque le conducteur a fait usage de drogues ou de stupéfiants également interdits, ou lorsque le conducteur aura absorbé des médicaments (prescrits ou non), dont la notice précise que son usage est de nature à provoquer un état de somnolence ;</li>
<li>Quand les dommages au véhicule surviennent postérieurement à la date de fin de location, prévue au contrat ;</li>
<li>Si le Locataire et/ou le conducteur ont fourni de fausses informations concernant leur(s) identité(s) ou la validité de leur permis de conduire ;</li>
<li>Quand les dommages résultent d’un fait volontaire du Locataire et/ou conducteur ;</li>
<li>Quand le véhicule est utilisé en surcharge ou transportant un nombre de passagers supérieur à celui autorisé sur la carte grise.</li>
</ul>
<h4>c. L'expertise</h4>
<p>Lorsque le devis des réparations présenté est supérieur à la franchise, l’Assureur fera apprécier les dommages par un expert indépendant.</p>
<p>L’expert désigné détermine le coût des réparations et du remplacement des pièces détériorées.</p>
<p>Ce chiffrage est effectué sur la base de la méthodologie de réparation et de changement des éléments endommagés, du prix des pièces et du temps de main d’œuvre fixés par les constructeurs. Il constituera le montant maximal susceptible d’être indemnisé au Propriétaire dans le cadre d’un dommage garanti, déduction faite des franchises éventuelles. L’indemnisation est versée sur présentation d’une facture conforme au rapport d’expertise.</p>
<p>Les dommages ou pertes sont évalués à l’amiable, entre l’Assureur et l’Assuré. En cas de désaccord, une contre-expertise peut être mandatée par la partie en désaccord par ses propres moyens et à ses frais.</p>
<p>Il est rappelé qu’en cas de non-respect des délais de déclaration, de fausse déclaration, ou de non-respect des formalités de déclaration, l’Assuré perd droit à toute indemnité.</p>
<h4>d. Dossiers hors assurance dit "à l'amiable"</h4>
<p>Une fois le devis validé dans le cadre d'un dossier amiable, le règlement se fait sur facture conforme au devis validé par écrit par le Service Assurance. Horiza ne peut être tenu de rembourser une facture qui serait supérieure au montant du devis validé.</p>
<h4>e. L'assistance au véhicule</h4>
<p>Le véhicule loué dispose d’une assistance 7j/7 et 24h/24. L’assistance est disponible sur simple appel.</p>>
</div>
<br>
<h3>15. Options d'assurance</h3>
<br>
<div class="article">
<p>Les options d'assurance peuvent être ajoutées lors du règlement de la réservation (acompte ou solde). Elles ne pourront plus être ajoutées après le départ de la location.</p>
<p>Elles ne sont pas modifiables et ne peuvent être retirées une fois le paiement effectué.</p>
<p>&nbsp;</p>
<h4>a. Confort</h4>
<p> Le vol par détournement est une garantie exclue de la réduction de franchise. Le fait d’avoir loué le même véhicule, non couvert par l’option, dans le mois qui précède constitue une exclusion de la réduction de franchise.</p>
<h4>b. Sérénité +</h4>
<p> Le vol par détournement est une garantie exclue de la réduction de franchise. Le fait d’avoir loué le même véhicule, non couvert par l’option, dans le mois qui précède constitue une exclusion de la réduction de franchise.</p>
<h4>c. Assurance annulation</h4>
<p>La prime versée au titre de l'assurance annulation est réglée intégralement lors de l'acompte et n'est jamais remboursable une fois souscrite. L'assurance annulation ne peut pas être ajoutée une fois la location soldée.</p>
<p>En cas d’annulation par le Locataire, Horiza s’engage à rembourser au Locataire le montant déjà réglé, déduction faite de la prime versée au titre de l'assurance annulation.</p>
<p>horiza se réserve le droit de demander tous les justificatifs nécessaires pour traiter le dossier de remboursement.<br>
Si le Locataire a fait une demande de prise en charge auprès d’un autre prestataire, il doit obligatoirement informer horiza du nom de l’organisme et des démarches réalisées.</p>
<h4>d. Voyage à l'étranger</h4>
<p>Les locataires peuvent circuler partout en France métropolitaine et dans les DOM,TOM et COM.</p>
<br>
 <h3>16. Responsabilité de Horiza</h3>
 <br>
<div class="article">
<p>Horiza facilite et sécurise la location de véhicules de loisirs entre particuliers.</p>
<p>Horiza n’est pas une société de location mais une plateforme internet d’annonces de location.</p>
<p>Horiza ne peut pas confirmer l’identité de chaque Membre ni l’identification des véhicules. Il appartient au Locataire et au Propriétaire (ou son représentant) de vérifier leurs identités respectives.</p>
<p>Les informations fournies par l’intermédiaire du site peuvent comporter des inexactitudes techniques ou factuelles ou des erreurs typographiques. Horiza décline toute responsabilité pour de telles inexactitudes et erreurs et se réserve le droit de faire des modifications et des corrections à tout moment, sans préavis.</p>
</div>
<br>
<h3>17. Impôts et taxes</h3>
<br>
<div class="article">
<p>Il appartient aux Propriétaires de déclarer et payer tous les impôts et toutes les taxes en relation avec la location de véhicules.</p>
<p>Pour les Loueurs professionnels, les revenus doivent être considérés comme des revenus professionnels.</p>
</div>
<br>
<h3>18. Résiliation et exclusion</h3>
<br>
<div class="article">
<p>Horiza est en droit d’exclure à tout moment et sans préavis un utilisateur qui ne respecte pas les présentes.</p>
</div>
<br>
<h3>19. Modifications des conditions générales d’utilisation</h3>
<br>
<div class="article">
<p>L’utilisation du site Horiza et de ses services est subordonnée à l’acceptation des présentes. Horiza se réserve le droit de les modifier à tout moment. La modification prendra effet immédiatement dès la mise en ligne des nouvelles conditions que tout utilisateur reconnait avoir préalablement consultées.</p>
<p>En cas de modification, les nouvelles conditions ne seront applicables qu’aux réservations souscrites postérieurement à la modification.</p>
</div>
<br>
<h3>20. Droit de propriété intellectuelle</h3>
<br>
<div class="article">
<p>La totalité des éléments présents sur le site horiza.fr (logiciel, contenus, informations, documents et images) est la propriété de la société Horiza Network. Toute reproduction même partielle est subordonnée à l’autorisation préalable et écrite de la société Horiza Network. La société se dégage de toute responsabilité en cas de la violation de droits détenus par des tiers et perpétrée en raison d’une quelconque activité ou utilisation non conforme du site par un Utilisateur.</p>
</div>
<br>
<h3>21. Données personnelles</h3>
<br>
<div class="article">
<p>Les données personnelles du client sont collectées par la société et sont utilisées pour établir la réservation, et sous le respect des dispositions de la Loi Informatique et Libertés n° 78-17 du 6 janvier 1978 modifiée.</p>
<p>En passant sa commande sur le site, le client donne son consentement à l’utilisation par la société des données nominatives recueillies lors de la prise de la commande. La société conserve, à des fins de preuve, ces informations pendant une durée de 3 ans après prise de la commande sur support informatique, sauf pour ce qui concerne les données bancaires qui ne sont jamais conservées par la société.</p>
<p>Par ailleurs, la société peut, sauf indication contraire du client adressé par email à contact.horiza@gmail.com, par téléphone au ** ** ** ** **, utiliser les données personnelles concernant ce dernier (à l’exclusion des données bancaires) afin de lui adresser directement ou par l’intermédiaire de partenaires des offres commerciales susceptibles de l’intéresser.</p>
<p>En application de la Loi Informatique et Libertés, le client dispose cependant du droit de s’opposer à la réception par courrier électronique de documents de prospection commerciale non sollicitée.</p>
<p>Le client dispose également d’un droit d’accès, de modification, de rectification ou de suppression des données qui le concernent (article 34 de la loi « Informatique et Libertés »), et d’autre part peut s’opposer à la transmission à des tiers de ses données personnelles en adressant un email au Service Client Horiza.</p>
</div>
<br>
<h3>22. Loi applicable et juridictions compétentes</h3>
<br>
<div class="article">
<p>Les Conditions Générales de Réservation et d’Utilisation sont soumises aux dispositions de la loi française.</p>
<p>Dans l’hypothèse où un différend portant sur la validité, l’exécution ou l’interprétation du présent Contrat et serait porté devant les juridictions civiles, il sera soumis à la compétence exclusive des tribunaux français auquel il est fait expressément attribution de compétence, même en cas de référé ou de pluralité de défendeurs.</p>
<p>En cas de litige entre les parties, Horiza prendra position sur la base du contrat de location complété et signé, des présentes conditions sans obligation de résultat. Si les éléments ne sont pas suffisamment probants pour établir les responsabilités, Horiza proposera une répartition des frais divisée à part égale entre le Propriétaire et le Locataire. Les parties au contrat sont libres de saisir les juridictions compétentes et/ou de faire appel à leurs conseils pour aboutir à un accord autre que celui proposé par Horiza.</p>
<p>Conformément aux articles&nbsp;L.211-3&nbsp;et&nbsp;L.616-1&nbsp;du code de la consommation l’utilisateur est informé qu’il peut en tout état de cause recourir à une médiation conventionnelle ou à tout autre mode alternatif de règlement des différends (conciliation par exemple) en cas de contestation. Horiza a signé une convention d’agrément avec l’association BAYONNE Médiation&nbsp;, 32 rue du Hameau 64200 Biarritz, 0679598338, www.bayonne-mediation.com.</p>
</div>
<p><em>Dernière mise à jour le 11/04/2021</em></p>
</div>
{% endblock %}
