{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header>
        
        {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.username }}!
                </div>
        {% endif %}

        <div class="pos-f-t">

            <nav class="navbar navbar-dark bg-info">
                <a href="http://localhost/horiza/public/" class="liens-a"><img src="https://cdn.discordapp.com/attachments/811996014566572055/827465660284010516/horiza-logo-2.png" alt="Logo" class="logo"/></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            

            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-info nav-secret" >
                    {# <a href="vehicules" class="text-dark">Rechercher</a> #}
                    <a href="vehicules" class="text-dark a-menu mr-3">Louer un véhicule</a>
                    <a href="annonce/create" class="text-dark a-menu mr-3">Déposer une annonce</a>
                {% if app.user == null %}
                    <a href="register" class="text-dark a-menu mr-3">S'inscrire</a>
                    {% endif %}
                {% if app.user == null %}
                    <a href="login" class="text-dark a-menu mr-3">Se connecter</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id != null %}
                    <a href="{{ path('profil', {'id':app.user.id}) }}" class="text-dark a-menu mr-3">Mon compte</a>
                {% endif %}
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                {% endif %}
                </div>
                
            </div>
                <div class="title">
                    <p class="title1">Horiza</p>
                </div>

          </div>
    </header>

    <main class"container-fluid bg-info">
        <div class="image">
        </div>   
    </main>

    <footer class="container-fluid bg-info" class="accueil-footer">
        <div class="row text-center d-flex justify-content-around" href="http://localhost/horiza/public/">
            <div type="button" class="text-decoration-none">
                <a href="vehicules">
                    <p class="text-dark text-decoration-none">Rechercher</p>
                    <i class="fab fa-sistrix text-dark"></i>
                </a>
            </div>
            {# <div type="button">
                <p>Favoris</p>
                <i class="far fa-heart"></i>
            </div> #}
            <div type="button">
                <a href="annonce/create">
                    <p class="text-dark text-decoration-none">Publier</p>
                    <i class="far fa-comment text-dark"></i>
                </a>
            </div>
            {# <div type="button">
                <p>Voyages</p>
                <i class="fas fa-shuttle-van"></i>
            </div> #}
            {# <div type="button">
                <a href="profil">
                    <p class="text-dark text-decoration-none">Mon compte</p>
                    <i class="far fa-user text-dark"></i>
                </a>
            </div> #}
        </div>
    </footer>
    <footer class="bg-dark footer-bottom">
        <div class="mpca">
            <a href="mentions"><p class="text-white ml-2">Mentions Légales</p></a>
            <a href="politique"><p class="text-white ml-2">Politique de confidentialité</p></a>
            <a href="cgu"><p class="text-white ml-2">CGU - CGV</p></a>
            <a href="about"><p class="text-white ml-2">À propos de nous</p></a>
            
        </div>
        <div class="contact">
            <a href="contact"><p class="text-white ml-2">Contactez-nous</p></a>
            <a href="https://twitter.com/"><p class="text-white ml-2">Twitter</p></a>
            <a href="https://www.instagram.com/"><p class="text-white ml-2">Instagram</p></a>
            <a href="https://www.facebook.com/"><p class="text-white ml-2">Facebook</p></a>
        </div>
    </footer>
    

{% endblock %}