{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class"container-fluid bg-info">
        <div class="image d-flex" style="justify-content:center;">
            
            <div class="home-cards d-flex">

                {# PREMIERE CARD SUR PAGE D'ACCUEIL #}
                <div class="card" style="width: 18rem;padding-top: 0px;">
                    {# <img class="card-img-top" src="..." alt="Card image cap"> #}
<<<<<<< HEAD
                    <div class="card-body">
                    <h5 class="card-title text-center">Je souhaite louer un camping-car !</h5>
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                    <a href="vehicules" class="btn btn-primary" style="background-color: #01C5C4;">Trouver le camping-car de mes rêves</a>
=======
                    <div class="card-body" style="background-color: #B8DE6F;">
                        <h5 class="card-title text-center">Je souhaite louer un camping-car !</h5>
                        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                        <a href="vehicules" class="btn btn-success">Trouver le camping-car de mes rêves</a>
>>>>>>> a008a2e0d5a71768a4b2dfd5eb05820c98834f33
                    </div>
                </div>

                {# DEUXIEME CARD SUR PAGE D'ACCUEIL #}
                <div class="card" style="width: 18rem;">
                    {# <img class="card-img-top" src="..." alt="Card image cap"> #}
<<<<<<< HEAD
                    <div class="card-body ">
                    <h5 class="card-title text-center">Je souhaite déposer une annonce !</h5>
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                    <a href="annonce/create" class="btn btn-primary" style="background-color: #01C5C4;">Mettre mon camping-car en location</a>
=======
                    <div class="card-body" style="background-color: #B8DE6F;">
                        <h5 class="card-title text-center">Je souhaite déposer une annonce !</h5>
                        {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                        <a href="annonce/create" class="btn btn-success">Mettre mon camping-car en location</a>
>>>>>>> a008a2e0d5a71768a4b2dfd5eb05820c98834f33
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 offset-3">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </main>

<<<<<<< HEAD
    <footer class="container-fluid bg-info" class="accueil-footer">
        <div class="row text-center d-flex justify-content-around" href="http://localhost/horiza/public/" style="background-color: #01C5C4;">
=======
    <!-- <footer class="container-fluid bg-info" class="accueil-footer">
        <div class="row text-center d-flex justify-content-around" href="http://localhost/horiza/public/">
>>>>>>> a008a2e0d5a71768a4b2dfd5eb05820c98834f33
            <div type="button" class="text-decoration-none">
                <a href="vehicules">
                    <p class="text-dark text-decoration-none" >Rechercher</p>
                    <i class="fab fa-sistrix text-dark"></i>
                </a>
            </div>
            <div type="button">
                <a href="annonce/create">
                    <p class="text-dark text-decoration-none">Publier</p>
                    <i class="far fa-comment text-dark"></i>
                </a>
            </div>
        </div>
    </footer> -->
    

{% endblock %}