{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class"container-fluid bg-info">
        <div class="image">

            {# PREMIERE CARD SUR PAGE D'ACCUEIL #}

            <div class="card" style="width: 18rem;">
                {# <img class="card-img-top" src="..." alt="Card image cap"> #}
                <div class="card-body">
                  <h5 class="card-title">Je souhaite louer un camping-car !</h5>
                  {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                  <a href="vehicules" class="btn btn-primary">Trouver le camping-car de mes rêves</a>
                </div>
            </div>

            {# DEUXIEME CARD SUR PAGE D'ACCUEIL #}

            <div class="card" style="width: 18rem;">
                {# <img class="card-img-top" src="..." alt="Card image cap"> #}
                <div class="card-body ">
                  <h5 class="card-title text-center">Je souhaite déposer une annonce !</h5>
                  {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                  <a href="annonce/create" class="btn btn-primary">Mettre mon camping-car en location</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6 offset-3">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

    <footer class="container-fluid bg-info" class="accueil-footer">
        <div class="row text-center d-flex justify-content-around" href="http://localhost/horiza/public/">
            <div type="button" class="text-decoration-none">
                <a href="vehicules">
                    <p class="text-dark text-decoration-none">Rechercher</p>
                    <i class="fab fa-sistrix text-dark"></i>
                </a>
            </div>
            <div type="button">
                <a href="annonce/create">
                    <p class="text-dark text-decoration-none">Publier</p>
                    <i class="far fa-comment text-dark"></i>
                </a>
            </div>
        </div>
    </footer>
    

{% endblock %}