{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header>
        <a href="http://localhost/horiza/public/"><img src="https://cdn.discordapp.com/attachments/811996014566572055/827465660284010516/horiza-logo-2.png" alt="Logo"/></a>
        <div class="example-wrapper">
            <h1>Bienvenue sur la page d'accueil de la Horiza</h1>
        </div>
    </header>

{% endblock %}
