{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}
<p>S'inscrire Se connecter MENU
Assistance sur la site Contactez-nous
• Explorer
• Tableau de bord
• Tableau de bord
• Créez un document
• Demandez à un avocat
• Suivez nos guides
• À propos
• Accueil
Mentions légales et politique de confidentialité
L'association Horiza, soucieuse des droits des individus, notamment au regard des traitements automatisés et dans u
ne volonté de transparence avec ses clients, a mis en place une politique reprenant l’ensemble de ces traitements, des
finalités poursuivies par ces derniers ainsi que des moyens d’actions à la disposition des individus afin qu’ils puisse
nt au mieux exercer leurs droits.
Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le
site : https://www.cnil.fr/
La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d'utilisation qui
suivent.
La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la durée d'utilisa
tion du site et jusqu'à ce qu'une nouvelle version la remplace.
Article 1 - Mentions légales
1.1 Site (ci-après « le site ») :
Horiza
1.2 Éditeur (ci-après « l'éditeur ») :
L'association Horiza, déclarée auprès de la préfecture de sous le numéro
dont le siège social est situé :
n° de téléphone :
adresse mail : contact@horiza.com
représentée par ,
1.3 Hébergeur (ci-après « l'hébergeur ») :
Horiza est hébergé par , dont le siège social est situé .

</p>
{% endblock %}
