{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}
<p>S'inscrire Se connecter MENU
Assistance sur la site Contactez-nous
• Explorer
• Tableau de bord
• Tableau de bord
• Créez un document
• Demandez à un avocat
• Suivez nos guides
• À propos
• Accueil
Mentions légales et politique de confidentialité
L'association Horiza, soucieuse des droits des individus, notamment au regard des traitements automatisés et dans u
ne volonté de transparence avec ses clients, a mis en place une politique reprenant l’ensemble de ces traitements, des
finalités poursuivies par ces derniers ainsi que des moyens d’actions à la disposition des individus afin qu’ils puisse
nt au mieux exercer leurs droits.
Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le
site : https://www.cnil.fr/
La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d'utilisation qui
suivent.
La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la durée d'utilisa
tion du site et jusqu'à ce qu'une nouvelle version la remplace.
Article 1 - Mentions légales
1.1 Site (ci-après « le site ») :
Horiza
1.2 Éditeur (ci-après « l'éditeur ») :
L'association Horiza, déclarée auprès de la préfecture de sous le numéro
dont le siège social est situé :
n° de téléphone :
adresse mail : contact.horiza@gmail.com
représentée par ,
1.3 Hébergeur (ci-après « l'hébergeur ») :
Horiza est hébergé par , dont le siège social est situé .

                </p>
                <br>
                <strong>Le Responsable de la publication est :&nbsp;</strong>
                    Timoté CHAZELLE
                <br>
                <strong>Contactez le responsable de la publication :&nbsp;</strong>
                www.horiza.fr
                <br>
                <p>L'hébergeur du site est : RCS Clermont Ferrand , France</p>
                <br>
                <h3>2. Conditions générales d'utilisation du site et des services proposés :</h3>
                <p>
                    L'utilisation du site www.horiza.fr implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-aprés. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, sans préavis, aussi les utilisateurs du site www.horiza.fr sont invités à les consulter de manière régulière.<br>
                    www.horiza.fr est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. En cas d'impossibilité d'accès au service, www.horiza.fr s'engage à faire son maximum afin de rétablir l'accès au service et s'efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l'intervention. N'étant soumis qu'à une obligation de moyen, www.horiza.fr ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant d'une indisponibilité du service.
                </p>    
                <p>
                    Le site www.horiza.fr est mis à jour régulièrement par le proprietaire du site. De la même façon, les mentions légales peuvent être modifiées à tout moment, sans préavis et s'imposent à l'utilisateur sans réserve. L'utilisateur est réputé les accepter sans réserve et s'y référer régulièrement pour prendre connaissance des modifications.<br>
                    Le site www.horiza.fr se réserve aussi le droit de céder, transférer, ce sans préavis les droits et/ou obligations des présentes CGU et mentions légales. En continuant à utiliser les Services du site www.horiza.fr , l'utilisateur reconnait accepter les modifications des conditions générales qui seraient intervenues.
                </p>



        </div>
    </div>
</main>
{% endblock %}
