{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}
<main>
    <div class="contenu-page-mention">
        <div class="conteneur-mention">
            <h3>1. Présentation du site :</h3>
                <p>
                Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site :&nbsp;
                <a href="http://localhost/horiza/public/" target="_blank">www.horiza.fr</a>
                &nbsp;les informations suivantes :
                </p>
                <p>
                    <strong>Informations légales :</strong>
                </p>
                <strong>Statut du propriétaire :</strong>
                 societe
                <br>
                <strong>Préfixe :</strong>
                 SAS
                <br>
                <strong>Nom de la Société :</strong>
                 Horiza Network
                <br>
                <strong>Adresse :</strong>
                 18 Rue Geoffroy l'Asnier, 75004 Paris
                <br>
                <strong>Tél&nbsp; :</strong>
                 06 64 70 43 60 (appel non surtaxé)
                <br>
                <strong>Capital de :</strong>
                 &nbsp;5 120 €
                <br>
                <strong>SIRET : </strong>
                 755 780 452 00074
                <strong>R.C.S. :</strong>
                 registre du Commerce de Paris
                <br>
                <strong>Numéro TVA intracommunautaire : </strong>
                 FR*************
                <br>
                <strong>Adresse de courrier électronique :&nbsp;</strong>
                contact.horiza@gmail.com
                <br>
                <br>
                <p>
                    
                    Horiza Network (agissant sous sa marque Horiza) distribue les garanties d'assurance et d'assistance en tant que Mandataire d'Intermédiaire d'Assurance (MIA) de MARSH S.A.S Société de courtage d'assurances, Société par Actions Simplifiée au capital de 5.917.915 euros, dont le siège est situé Tour Ariane - 5, Place des Pyramides - 92800 Puteaux, immatriculée sous le n° 572 174 415 RCS Nanterre, Assurances RC professionnelle et garantie financière conformes aux articles L512-6 et suivants du code des assurances, TVA intra-communautaire n° FR 05 572 174 415, n° ORIAS 07.001.037 http://www.orias.fr, code APE 6622Z

                </p>
                <br>
                <strong>Le Responsable de la publication est :&nbsp;</strong>
                    Timoté CHAZELLE
                <br>
                <strong>Contactez le responsable de la publication :&nbsp;</strong>
                www.horiza.fr
                <br>
                <p>L'hébergeur du site est :  02 Switch ,	224 BD GUSTAVE FLAUBERT 63000 CLERMONT-FERRAND </p>
                <br>
                <h3>2. Conditions générales d'utilisation du site et des services proposés :</h3>
                <p>
                    L'utilisation du site www.horiza.fr implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-aprés. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, sans préavis, aussi les utilisateurs du site www.horiza.fr sont invités à les consulter de manière régulière.<br>
                    www.horiza.fr est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. En cas d'impossibilité d'accès au service, www.horiza.fr s'engage à faire son maximum afin de rétablir l'accès au service et s'efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l'intervention. N'étant soumis qu'à une obligation de moyen, www.horiza.fr ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant d'une indisponibilité du service.
                </p>    
                <p>
                    Le site www.horiza.fr est mis à jour régulièrement par le proprietaire du site. De la même façon, les mentions légales peuvent être modifiées à tout moment, sans préavis et s'imposent à l'utilisateur sans réserve. L'utilisateur est réputé les accepter sans réserve et s'y référer régulièrement pour prendre connaissance des modifications.<br>
                    Le site www.horiza.fr se réserve aussi le droit de céder, transférer, ce sans préavis les droits et/ou obligations des présentes CGU et mentions légales. En continuant à utiliser les Services du site www.horiza.fr , l'utilisateur reconnait accepter les modifications des conditions générales qui seraient intervenues.
                </p>



        </div>
    </div>
</main>
{% endblock %}
