{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <header class="container-fluid text-center bg-info pt-5 pb-5">
        <h1>Mentions Légales</h1>
    </header>
    <p></p>

{% endblock %}
