{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueController!{% endblock %}

{% block body %}
<p>POLITIQUE DE CONFIDENTIALITÉ

www.horiza.fr
__________
Type de site : e-commerce
Le but de cette politique de confidentialité
Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site des données
personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :
a.

Les données personnelles que nous recueillerons

b.

L’utilisation des données recueillies

c.

Qui a accès aux données recueillies

d.

Les droits des utilisateurs du site

e.

La politique de cookies du site

Cette politique de confidentialité fonctionne parallèlement aux conditions générales d’utilisation de
notre site.
Lois applicables
Conformément au Règlement général sur la protection des données (RGPD), cette politique de
confidentialité est conforme aux règlements suivants.
Les données à caractère personnel doivent être :
a.

traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité,
loyauté, transparence) ;

Page 1 de 9

Politique de confidentialité d'un site web

Page 2 de 9

b.

collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées
ultérieurement d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins
archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des
fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme
incompatible avec les finalités initiales (limitation des finalités) ;

c.

adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour
lesquelles elles sont traitées (minimisation des données) ;

d.

exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises
pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour
lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;

e.

conservées sous une forme permettant l'identification des personnes concernées pendant une
durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont
traitées; les données à caractère personnel peuvent être conservées pour des durées plus
longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans
l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques
conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures
techniques et organisationnelles appropriées requises par le règlement afin de garantir les
droits et libertés de la personne concernée (limitation de la conservation) ;

f.

traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y
compris la protection contre le traitement non autorisé ou illicite et contre la perte, la
destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou
organisationnelles appropriées (intégrité et confidentialité).

Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est
remplie :
a.

la personne concernée a consenti au traitement de ses données à caractère personnel pour une
ou plusieurs finalités spécifiques ;

b.

le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie
ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;

Politique de confidentialité d'un site web

Page 3 de 9

c.

le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du
traitement est soumis ;

d.

le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou
d'une autre personne physique ;

e.

le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de
l'exercice de l'autorité publique dont est investi le responsable du traitement ;

f.

le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du
traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits
fondamentaux de la personne concernée qui exigent une protection des données à caractère
personnel, notamment lorsque la personne concernée est un enfant.

Pour les résidents de l’État de Californie, cette politique de confidentialité vise à se conformer à la
California Consumer Privacy Act (CCPA). S’il y a des incohérences entre ce document et la CCPA,
la législation de l’État s’appliquera. Si nous constatons des incohérences, nous modifierons notre
politique pour nous conformer à la loi pertinente.
Consentement
Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :
a.

les conditions énoncées dans la présente politique de confidentialité et

b.

la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.

Données personnelles que nous collectons
Données collectées automatiquement
Lorsque vous visitez et utilisez notre site, nous pouvons automatiquement recueillir et conserver les
renseignements suivants :
a.

Adresse IP

b.

Lieu

Politique de confidentialité d'un site web
c.

Liens un utilisateur clique tout en utilisant le site

d.

Contenu que l’utilisateur consulte sur votre site

Page 4 de 9

Données recueillies de façon non automatique
Nous pouvons également collecter les données suivantes lorsque vous effectuez certaines fonctions
sur notre site :
a.

Prénom et nom

b.

Âge

c.

Date de naissance

d.

Sexe

e.

Email

f.

Numéro de téléphone

g.

Domicile

h.

Information de paiement

i.

Données de remplissage automatique

Ces données peuvent être recueillies au moyen des méthodes suivantes :
Enregistrement d'un compte
Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé
dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans
vous en informer au préalable.
Comment nous utilisons les données personnelles
Les données personnelles recueillies sur notre site seront utilisées uniquement aux fins précisées

Politique de confidentialité d'un site web

Page 5 de 9

dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas
vos données au-delà de ce que nous divulguerons.
Les données que nous recueillons automatiquement sont utilisées aux fins suivantes :
a.

Statistiques

Les données que nous recueillons lorsque l’utilisateur exécute certaines fonctions peuvent être
utilisées aux fins suivantes :
a.

Communication

Avec qui nous partageons les données personnelles
Employés
Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a
raisonnablement besoin pour réaliser les objectifs énoncés dans la présente politique.
Tierces parties
Nous pouvons partager les données utilisateur avec les tiers suivants :
a.

__________

Nous pouvons partager les données utilisateur avec des tiers aux fins suivantes :
a.

__________

Les tiers ne seront pas en mesure d’accéder aux données des utilisateurs au-delà de ce qui est
raisonnablement nécessaire pour atteindre l’objectif donné.
Autres divulgations
Nous nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans les cas
suivants :
a.

si la loi l'exige

b.

si elle est requise pour toute procédure judiciaire

Politique de confidentialité d'un site web

Page 6 de 9

c.

pour prouver ou protéger nos droits légaux

d.

à des acheteurs ou des acheteurs potentiels de cette société dans le cas où nous cherchons à la
vendre la société

Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas
responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.
Combien de temps nous stockons les données personnelles
Nous ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour atteindre
les fins pour lesquelles elles sont recueillies.
Comment nous protégeons vos données personnelles
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________

Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données
d’utilisateur sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de
préjudice. L’Internet en sa totalité peut être, parfois, peu sûr et donc nous sommes incapables de
garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique.
Vos droits en tant qu’utilisateur
En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :
a.

droit d’accès

Politique de confidentialité d'un site web
b.

droit de rectification

c.

droit à l’effacement

d.

droit de restreindre le traitement

e.

droit à la portabilité des données

f.

droit d'objection

Page 7 de 9

Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD.
Comment modifier, supprimer ou contester les données recueillies
Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre,
veuillez communiquer avec notre agent de protection de la vie privée ici :
__________
Politique sur les cookies
Un cookie est un petit fichier, stocké sur le disque dur d’un utilisateur par le site Web. Son but est
de recueillir des données relatives aux habitudes de navigation de l’utilisateur.
Nous utilisons les types de cookies suivants sur notre site :
a.

Cookies fonctionnels
Nous les utilisons pour mémoriser toutes les sélections que vous faites sur notre site afin
qu’elles soient sauvegardées pour vos prochaines visites.

b.

Cookies analytiques
Cela nous permet d’améliorer la conception et la fonctionnalité de notre site en recueillant
des données sur le contenu auquel vous accédez et sur lequel vous vous accrochez en
utilisant notre site.

c.

Cookies de ciblage
Ces cookies collectent des données sur la façon dont vous utilisez le site et vos préférences.
Cela nous permet de rendre les informations que vous voyez sur notre site plus

Politique de confidentialité d'un site web

Page 8 de 9

promotionnelles et ciblées pour vous.
d.

__________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________
___________________________________________________________

Vous pouvez choisir d’être averti chaque fois qu’un cookie est transmis. Vous pouvez également
choisir de désactiver les cookies entièrement dans votre navigateur Internet, mais cela peut diminuer
la qualité de votre expérience d’utilisation.
Cookies tiers
Nous pouvons utiliser des cookies tiers sur notre site pour atteindre les objectifs suivants :
1.

Surveiller les préférences des utilisateurs pour adapter les publicités autour de leurs intérêts.

Modifications
Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité
avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous
recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils
soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel
des changements apportés à cette politique.
Contact
Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui
suit :
contact@horiza.com

Politique de confidentialité d'un site web

Date d’entrée en vigueur : le ____________________

© 2002-2021, DocumentsLégaux™ (Sequiter Inc.)

Page 9 de 9

</p>
{% endblock %}
