{% extends 'base.html.twig' %}

{% block title %}Politique de confidentalité{% endblock %}

{% block body %}
    <div class="container-fluid text-center pt-5 pb-5" style="background-color: #01C5C4;">
      <h1>Politique de confidentialité</h1>
    </div>

<main>
    <div class="containeur-politique">

        <div class=".tete-du-main">
            <div class="header-contenu">
                <h2>
                    Nous vous remercions pour l’intérêt porté à notre site. La protection de votre vie privée est très importante pour nous. Ci-dessous, nous vous donnons des informations détaillées sur le traitement de vos données.
                </h2>
            </div>
            </div>
    </div>
    
    <div class="containeur-politique">
    
        <h3>
             1. La collecte et l’utilisation des données au moment de la création d'un profil ou lors de la conclusion d’un contrat de location
        </h3>
        <p>
            Nous recueillons vos informations personnelles lorsque vous les fournissez au moment d’une réservation, quand vous prenez contact avec nous (par exemple, en utilisant le formulaire de contact ou quand vous envoyez un e-mail) ou lors de la création d’un profil. Dans les formulaires respectifs, les informations collectées sont visibles pour tous. Nous utilisons vos informations pour la mise en place des contrats et le traitement de vos réservations. Après la suppression de votre compte, vos données ne seront plus accessibles et seront supprimées après la période de stockage obligatoire, sauf si vous avez expressément consenti à l'utilisation ultérieure celles-ci. La suppression de votre compte est possible à tout moment et peut, soit être demandée par mail à l’adresse mail de contact ci-dessous, soit être faite par vous-même si vous cliquez sur “supprimer votre profil définitivement” dans votre profil.
        </p>

        <p>
            Voici la liste des informations que nous récoltons ainsi que les raisons d’utilisation :
        </p>
        <ul>
        <li>
          Nom et prénom (assurance et rémunération)
        </li>
        <li>
          Date d’anniversaire (assurance d’âge minimum pour une location et pour la mise en location)
        </li>
        <li>
          Numéro de téléphone (contact service client, contact locataire/propriétaire) - Transmise au locataire lors de la validation de la location, invisible au grand public
        </li>
        <li>
          Photo (confiance dans la relation de location - pas obligatoire)
        </li>
        </ul>

        <p>
         Lors de votre réservation, nous vous demandons votre destination. Ceci nous permet de vérifier que l’assurance puisse vous couvrir tout au long de votre voyage, et ce, même si vous traversez plusieurs pays.
        </p>



        <h3>
            2. La collecte et l’utilisation des données au moment de la publication d’annonce
        </h3>

        <p>
        Pour publier une annonce, des informations concernant votre véhicule et vous-même vous sont demandées. Certaines informations sont visibles sur le site pour aider le locataire dans le choix de son camping-car ou van aménagé. D’autres sont invisibles et servent à assurer correctement votre véhicule ou à effectuer votre règlement :
      </p>

      <p>
        Concernant le véhicule :
      </p>

      <ul>
        <li>
          Marque et modèle 
        </li>
        <li>
          Immatriculation : <em>invisible</em>
        </li>
          Carburant
        </li>
        <li>
          Nombre de places
        </li>
      </ul>

      <h3>
        3. Droit à l'information et possibilités de contact
      </h3>

      <p>
        Vous disposez d'un droit à l'information, à la rectification et à l’effacement gratuit sur les données que nous stockons sur votre personne. Pour toute question concernant le traitement ou l'utilisation des données personnelles ou pour la correction ou la suppression des données et la révocation du consentement ou de l'opposition à une utilisation particulière, contactez-nous directement en utilisant les coordonnées visibles sous l'onglet “Conditions générales”.
      </p>
    </div>

    <a href="{{ path('home') }}" type="button" class="btn btn-info" style="float:right">Retour à la page d'accueil</a>
</main>
{% endblock %}

