{% extends 'base.html.twig' %}

{% block title %}profil - formulaire{% endblock %}

{% block body %}

    <h1>Formulaire - profil- test</h1>

    <div>
        {{ form_start(profileForm) }}
        {{ form_end(profileForm) }}
    </div>

    <div class="text-center pb-5">
        <a href="{{ path('home') }}" class="btn btn-danger">Annuler</a>
    </div>

{% endblock %}