@font-face {
  font-family: CaviarDreams;
  src: url("../polices/CaviarDreams.ttf"),
        url("../polices/CaviarDreams_Bold.ttf");
} 

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* ******************** RESET ******************** */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ******************* Police Ecriture ************************ */

h1 {
  font-family:'Oswald', sans-serif;
}

p,
a,
main,
h2,
divès s {
  font-family: CaviarDreams;
}

/* ******************* HEADER ************************ */

/* 
header {
  background-color: white !important;
  width: 100%;
  position: fixed;
} */



/* ******************* LOGO ************************ */

/* zone logo  pur*/
.logo {
  width: 7%;
}

/* Titre Horiza */ /*titre a fusionner avec le logo pour un meilleur visuel  */
.title {
  display: flex;
  font-size: 3em;
  justify-content: center;
}
.title1 {
  color: #f39233;
}

/* zone de la balise a  */
.liens-a {
  display: contents;
}

/* la classe nav
.navbar {
  align-items: end;
  display: flex;
} */

.a-menu {
  text-align: right;
  display: block;
}


@media screen and (min-width: 768px){
  .navbar-bar{
    display: flex;
  }

}

.navbar-bar{
  display: contents;
}

/* #nav {
  display: flex;
} */


/* la classe bouton */
.navbar-toggler {
  position: relative;
  background-color: #F39233;
}



/* div menu burger */
/* .bg-info {
  background-color: white !important;
} */

/* / texte du menu burger */
/* .text-white {
  display: flex;
  flex-direction: column-reverse;
} */

/* ************************************* MAIN ****************************** */

.home-cards {
  width: 100%;
  justify-content: space-around; 
  align-items: center;
}

/* l'image en fond sur le main  */
.image{
  background-image: url(https://media.discordapp.net/attachments/430039498470981644/829329520057778196/image_de_fond.png_reverse.png);
  width: 100%;
  height: 40em;
  background-repeat: no-repeat;
  background-size: cover;
}

/* la div principal du avec le texte + le formulaire  */
.spider{
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  max-width: 415px;
  font-size: 12px;
  
}

/* comme le spider mais quand meme different  */
.formulaire {
  background: #ffffff;
  border-radius: 4px;
  opacity: 0.80;
}
/* contient le texte informatif  */
  .formulaire h1{
  margin: 0;
  font-size: 25px;
  line-height: 1.8;
  padding: 25px 10px;
  display: block;
  text-align: center;
}

/* le nom bootstrap pourri du formulaire */
.ml-3{
  margin-left: 0em !important;
}



/* la div pour le type de vehicule */
.type-vehicule{
  margin-bottom: 20px
}

/* pour changer le curseur au survol et les autres element commun  des selecteurs   */
.pointer{
  cursor: pointer;
  height: 50px;
  background-color: snow;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 23em;
  border-radius: 4px;
}

/* pour le bouton rechercher  */
.button-rechercher{
  width: 19em;
  height: 3em;
  padding-right: 7em;
  margin-bottom: 19px;
  font-size: 1.2em;
  background-color: #F39233;
  border-radius: 4px;
}

/* ************************************* FOOTER ****************************** */

.footer-bottom {
  display: flex;
  font-size: 12px;
}

.contact {
  margin-left: auto;
  margin-right: 5px;

  display: grid;
}

.reseaux {
  text-align: center;
}

a:link { 
 text-decoration:none; 
} 