/* ******************** RESET ******************** */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }


.inscription{
      font-size: 80px;
  }

.formu{
    
    padding: 15px 15px 100px;
    max-width: 100%;
  }
  