.main-vehicules{
    max-width: 42%;
    /* float: right; */
    margin-left: 25em;
}


@media (min-width: 800px) and (max-width: 1400px ){
    .main-vehicules {
            max-width: 50.333333%;
            margin-left: 19em;
        }
    }

    @media (min-width: 500px) and (max-width: 800px ){
        .main-vehicules {
            max-width: 63.333333%;
            margin-left: 5em;
        }
    }

    @media (min-width: 300px) and (max-width: 500px ){
        .main-vehicules {
            max-width: 77.333333%;
            margin-left: 4em;
    }
}






/* ***************************CONTACT PROPRIO ************************* */

.contact-vehicules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

.button-connection-proprio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* *******************************ANONNCES ************************* */
.image-annonce{
    width: 100%;
}

.conteneurBouton{
    display:flex; 
    justify-content:flex-end;
}

.boutonRetour{
    color: #F39233; 
    position: fixed;
    bottom: 150px;
    right: 50px;
}


