{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class=" row text-center conteneur col-xs-6 .col-lg-4">

        <button onclick="location.href = 'admin/users'" type="button" class="btn" style="background-color: #F39233; color:white;">Gestion des utilisateurs</button>

        <button onclick="location.href = 'admin/vehicules'" type="button" class="btn" style="background-color: #F39233; color:white;">Gestion des véhicules</button>
        
    </div>

{% endblock %}

