{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="row text-center conteneur">

        <button onclick="location.href = 'admin/users'" type="button" class="btn" style="background-color: #F39233; color:white;">Gestion des utilisateurs</button>

        <button onclick="location.href = 'admin/vehicules'" type="button" class="btn" style="background-color: #F39233; color:white;">Gestion des véhicules</button>
        
    </div>

{% endblock %}

