{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs - formulaire{% endblock %}

{% block body %}

    <h1>Formulaire - utilisateur</h1>

    <div>
        {{ form_start(userForm) }}
        {{ form_end(userForm) }}
    </div>

    <div class="text-center pb-5">
        <a href="{{ path('admin_users') }}" class="btn btn-danger">Annuler</a>
    </div>

{% endblock %}