{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}

{% block body %}

    <div class="containerGlobalBody">
        <div class="erreur">
            <img src="{{ asset('img/error_500.png') }}" alt="error_500">

            <h2>Une erreur interne est survenue</h2>
            {# <a href="{{ path('home') }}" class="btn_valider">retourner à l'accueil</a> #}
            <a class="btn_valider"; href="{{ path('home') }}">Retourner à l'accueil</a>

        </div>
    </div>

{% endblock %}